<h1 class="text-center pb-3">Employee Details in Table Format</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-success table-striped w-50 mx-auto">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Address</th>
                        <th scope="col">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>9841098732</td>
                        <td>CEO</td>
                        <td>Tinkune</td>
                        <td>150000</td>
                    </tr>
                    <tr>
                        <td>Yewant</td>
                        <td>Karki</td>
                        <td>9865055438</td>
                        <td>Manager</td>
                        <td>Balkot</td>
                        <td>100000</td>
                    </tr>
                    <tr>
                        <td>Susan</td>
                        <td>Paudel</td>
                        <td>9865874837</td>
                        <td>Developer</td>
                        <td>Kritipur</td>
                        <td>75000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>